<ion-header>
  <ion-toolbar>
    <ion-title>
      Debby Notes
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="create()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    Create new item:
    <ion-input placeholder="name" [(ngModel)]="item.title"></ion-input>
    <ion-input placeholder="description" [(ngModel)]="item.description"></ion-input>
  </ion-card>
  <ion-searchbar (ionInput)="getOneItem($event)"></ion-searchbar>
  <ion-list>
    <div *ngFor="let item of itemList">
        <ion-text>
          <h3>{{item.name}}</h3>
          <p>{{item.description}}</p>
        </ion-text>
    </div>
  </ion-list>
</ion-content>
