div {
    height: 50px; /* adjust spacing between items */
    margin: 20px; /* adjust how far items are from top and left edge. */
}
h3 {
    height: 10px; /* adjust distance of name to description. */
    font-weight: 400;
}
